<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System" >
      <section name="Flynn.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Flynn.Core.Properties.Settings>
      <setting name="TriggerBusyWait_Ms" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TriggerAsyncFire" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TriggerSyncThreshold_Ms" serializeAs="String">
        <value>250</value>
      </setting>
    </Flynn.Core.Properties.Settings>
  </applicationSettings>
</configuration>
