<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System" >
      <section name="Flynn.Daemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Flynn.Daemon.Properties.Settings>
      <setting name="ConfigPath" serializeAs="String">
        <value>flynn.conf</value>
      </setting>
      <setting name="RunAsService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShallowMaintInterval_Min" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="DeepMaintInterval_Min" serializeAs="String">
        <value>43200</value>
      </setting>
    </Flynn.Daemon.Properties.Settings>
  </applicationSettings>

  <log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="logfile" type="log4net.Appender.FileAppender">
      <file value="flynn.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="logfile" />
    </root>
  </log4net>

</configuration>
