<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System" >
      <section name="Flynn.Weather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Flynn.Weather.Properties.Settings>
      <setting name="YahooApplicationID" serializeAs="String">
        <value>rvo7PMHV34GF_b1JSWiELfYRRcksR5IstxSgYKM4parOUUNDj2IB.6vDunrSQQ--</value>
      </setting>
      <setting name="GeoNames_Username" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="Weather_CacheEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GeoData_CacheEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AstroData_CacheEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Flynn.Weather.Properties.Settings>
  </applicationSettings>
</configuration>
